body {
  font-family: Arial;
  font-size: 18px;
  text-align: center;
}

h1 {
  font-family: Arial;
  font-size: 24px;
  text-decoration: underline;
}

.family_table {
  font-family: Arial;
  margin-left:auto; 
  margin-right:auto;
}

.family_show {
  font-family: Arial;
  margin-left:auto; 
  margin-right:auto;
}
