body {
  font-family: Arial;
  font-size: 18px;
  text-align: center;
}

h1 {
  font-family: Arial;
  font-size: 24px;
  text-decoration: underline;
}

<<<<<<< HEAD
#logo {
  align: left;
}
=======
<<<<<<< HEAD
=======
>>>>>>> 16c26b4c799c742ee1509d868f61ca90cc249b82

.family_check_in_out_form {
  
}

>>>>>>> f5478b094ca1c5c2c8b022009612285d19be7622
.family_table {
  font-family: Arial;
  margin-left:auto; 
  margin-right:auto;
}

.family_show {
  font-family: Arial;
  margin-left:auto; 
  margin-right:auto;
}

.new_family_form {
  font-family: Arial;
}

.check-in-out-form {
	
}
