body {
  font-family: Arial;
  font-size: 18px;
  text-align: center;
}

.logo {
  text-align: left;
}

h1 {
  font-family: Arial;
  font-size: 24px;
  text-decoration: underline;
  padding-bottom: 20px;
}



.family_check_in_out_form {
  
}

.family_table {
  font-family: Arial;
  margin-left:auto; 
  margin-right:auto;
}

.family_show {
  font-family: Arial;
  margin-left:auto; 
  margin-right:auto;
}

.new_family_form {
  font-family: Arial;
}

.check-in-out-form {
	
}
